openingo:
  redis:
    enable: true
  http:
    request:
      cors:
        allowed-header: "*"
        enable: true
        allowed-all: true
      log:
        enable: true
      error:
        enable: true

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: dbadmin
    url: jdbc:mysql://127.0.0.1/test?useSSL=false&serverTimezone=GMT%2B8

  redis:
    cluster:
      nodes: 172.15.33.211:7001,172.15.33.211:7002,172.15.33.211:7003,172.15.33.211:7004,172.15.33.211:7005,172.15.33.211:7006
    password: 123456
    lettuce:
      pool:
        max-active: 1000
  elasticsearch:
    rest:
      uris: http://172.15.33.36:9200
#    host: localhost
server:
  port: 18080

